{{define "base"}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <title>HAM Radio Log</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <header class="container">
        {{ .User }}
    </header>
    <section class="container">
        <aside>
            <nav>
                <ul>
                    {{ with .Pages }}
                        {{ range . }}
                        <li>
                            <a href="{{ .Route }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </nav>
        </aside>
        <main>
            {{template "content" .}}
        </main>
    </section>
</body>
</html>
{{end}}
