{{define "base"}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <title>GOham Radio Log</title>
  <link rel="icon" href="https://bulldog.ws/i/Mzg2TiTfU/favicon.png" type="image/png" size="512x512">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="https://cdn.fix.gd/v1/css/5003a0bf-405a-44e7-99ea-a8f23f1582d7.css">
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.css" />
</head>
<body id="Ham">
    <header class="container header">
        <div>
            <div>
                <img class="header-img" src="https://i.levi.lol/images/2019/02/15/goham.png" alt="Golang gopher with headphones in front of a microphone">
                <h1>GOham</h1>
            </div>
            <nav class="vertical-align">
                <div id="firebaseui-auth-container"></div>
                <div id="sign-in"></div>
                <div>
                    <span id="account-details"></span>
                    <a id="sign-out" style="display:none;" href="#">Sign Out</a>
                </div>
            </nav>
        </div>
    </header>
    <nav class="container navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard/">Dashboard</a></li>
            <li><a href="/recent-entries/">Recent Entries</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/support/">Support</a></li>
        </ul>
    </nav>
    <section class="container middle">
        <div class="row">
            {{template "content" .}}
        </div>
    </section>
    <footer class="container footer">
        <small>
            &copy; 2019 Levi Durfee |
            All code is open source via the 
            <a href="https://github.com/levidurfee/ham/blob/master/LICENSE">MIT License</a> and available on 
            <a href="https://github.com/levidurfee/ham">GitHub</a>.
            <a href="/tos/">Terms of Service</a>.
        </small>
    </footer>
<form id="post-form" action="/" method="post" hidden="true">
    <input type="hidden" name="token" id="token">
    <input type="submit">
</form>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-auth.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCziAihkJkEy3hip67otovujmdzUwLFQoE",
    authDomain: "hamradio-96e65.firebaseapp.com",
    databaseURL: "https://hamradio-96e65.firebaseio.com",
    projectId: "hamradio",
    storageBucket: "hamradio.appspot.com",
    messagingSenderId: "751368634538"
  };
  firebase.initializeApp(config);
</script>
<script>
so = document.getElementById("sign-out");
so.onclick = function() {
    firebase.auth().signOut().then(function() {
        console.log("User signed out");
    }).catch(function(error) {
        console.log(error);
    });
}
</script>
<script src="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.js"></script>
<script>
    var uiConfig = {
        signInSuccessUrl: '/',
        signInOptions: [
        // Leave the lines as is for the providers you want to offer your users.
        firebase.auth.GoogleAuthProvider.PROVIDER_ID,
        ],
        // Terms of service url.
        tosUrl: 'https://ham.fix.gd/tos/'
    };
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
        // User is signed in.
        document.getElementById('sign-out').style.display = "inline-block";
        document.getElementById('account-details').textContent =
            'Signed in as ' + user.displayName + ' (' + user.email + ')';
        user.getIdToken().then(function (accessToken) {
            // Add the token to the post form. The user info will be extracted
            // from the token by the server.
            Cookies.set("token", accessToken);
            document.getElementById('token').value = accessToken;
            //console.log(accessToken);
        });
        } else {
        // User is signed out.
        // Initialize the FirebaseUI Widget using Firebase.
        var ui = new firebaseui.auth.AuthUI(firebase.auth());
        // Show the Firebase login button.
        ui.start('#firebaseui-auth-container', uiConfig);
        // Update the login state indicators.
        document.getElementById('sign-out').hidden = true;
        document.getElementById('account-details').textContent = '';
        Cookies.remove("token");
        }
    }, function (error) {
        console.log(error);
        alert('Unable to log in: ' + error)
    });
</script>
<div style="display:none;">
    {{ .UserID }}
</div>
</body>
</html>
{{end}}
