{{define "content"}}
<div class="four columns">
    <img src="https://i.levi.lol/images/2019/02/15/goham.png" class="pr3 flex-item" alt="Golang gopher with headphones in front of a microphone">
</div>
<div class="eight columns">
    <p class="h1">GOham</p>
    <p>
        A very simple logbook written in <a href="https://golang.org/" target="_BLANK">Go</a> and hosted by 
        <a href="https://cloud.google.com/appengine/">Google App Engine</a>. We will release new features 
        every month. You can view the road map, releases, issues, and contribute to the code on 
        <a href="https://github.com/levidurfee/ham">GitHub</a>.
    </p>
    <p>
        <a href="/dashboard/" class="button">Get Started</a>
    </p>
</div>
{{end}}
